* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
  margin: 0;
}

img {
  width: 100%;
  height: 100%;
}

li {
  margin: 0;
}
p {
  margin: 0;
}
.container {
  width: 85%;
  margin: 0 auto;
}
.players {
  padding: 20px 0;
}
.players > h3 {
  margin-bottom: 30px;
}
.players__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}
